* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  /* border-radius: 12px; */
  font-size: medium;
  width: 800px;
  height: 100px;
  margin: 0px;
  background-color: white;
  color: black;
  /* transition: height 0.5s ease 0.05s, width 0.5s ease 0.05s,
    margin 0.5s ease 0.05s, font-size 0.5s ease 0.05s, transform 0.5s 0.05s; */
  /* transform: scale(1); */
  /* transition: transform 1s ease 0.05s; */
  transition: transform 0.5s ease 0.05s, background-color 0.5s ease 0.05s;
}

button.active {
  /* height: 300px; */
  /* width: 500px; */
  /* font-size: x-large; */
  /* transform: rotate(1turn); */
  /* transform: scale(2); */
  /* margin: 30px 30px 30px; */
  transform: translateX(-90%);
  /* transform: scaleX(1); */
  background-color: black;
  color: white;
}
